objectmeta:
  generatename: chainlink-node-
spec:
  template:
    spec:
      volumes:
      - name: node-secrets-volume
        volumesource:
          secret:
            secretname: {{ .Manifest.Secret.ObjectMeta.Name }}
      containers:
      - name: node
        image: {{ .Config.Apps.Chainlink.Image }}:{{ .Config.Apps.Chainlink.Version }}
        args:
        - node
        - start
        - -d
        - -p
        - /etc/node-secrets-volume/node-password
        - -a
        - /etc/node-secrets-volume/apicredentials
        - --vrfpassword=/etc/node-secrets-volume/apicredentials
        ports:
        - name: access
          containerport: {{ .Values.chainlinkCluster.chainlink.webPort }}
        - name: p2p
          containerport: {{ .Values.chainlinkCluster.chainlink.p2pPort }}
        env:
        - name: DATABASE_URL
          value: postgresql://postgres:node@127.0.0.1:5432/chainlink?sslmode=disable
          valuefrom: null
        - name: DATABASE_NAME
          value: chainlink
          valuefrom: null
        - name: ETH_URL
          value: {{ if .Values.evm.clusterURL }}{{ .Values.evm.clusterURL }}{{ else }}{{ .Network.URL }}{{ end }}
          valuefrom: null
        - name: ETH_CHAIN_ID
          value: {{ .Network.ChainID }}
          valuefrom: null
        - name: ALLOW_ORIGINS
          value: '*'
          valuefrom: null
        - name: CHAINLINK_DEV
          value: "true"
          valuefrom: null
        - name: CHAINLINK_PGPASSWORD
          value: node
          valuefrom: null
        - name: CHAINLINK_PORT
          value: "6688"
          valuefrom: null
        - name: CHAINLINK_TLS_PORT
          value: "0"
          valuefrom: null
        - name: DEFAULT_HTTP_ALLOW_UNRESTRICTED_NETWORK_ACCESS
          value: "true"
          valuefrom: null
        - name: ENABLE_BULLETPROOF_TX_MANAGER
          value: "true"
          valuefrom: null
        - name: FEATURE_OFFCHAIN_REPORTING
          value: "true"
          valuefrom: null
        - name: JSON_CONSOLE
          value: "false"
          valuefrom: null
        - name: LOG_LEVEL
          value: info
          valuefrom: null
        - name: MAX_EXPORT_HTML_THREADS
          value: "2"
          valuefrom: null
        - name: MINIMUM_CONTRACT_PAYMENT
          value: "0"
          valuefrom: null
        - name: OCR_TRACE_LOGGING
          value: "true"
          valuefrom: null
        - name: P2P_LISTEN_IP
          value: 0.0.0.0
          valuefrom: null
        - name: P2P_LISTEN_PORT
          value: "6690"
          valuefrom: null
        - name: ROOT
          value: ./clroot
          valuefrom: null
        - name: SECURE_COOKIES
          value: "false"
          valuefrom: null
        volumemounts:
        - name: node-secrets-volume
          readonly: false
          mountpath: /etc/node-secrets-volume/
        livenessprobe:
          handler:
            exec: null
            httpget:
              path: /
              port:
                intval: {{ .Values.chainlinkCluster.chainlink.webPort }}
          initialdelayseconds: 90
          periodseconds: 10
        readinessprobe:
          handler:
            httpget:
              path: /
              port:
                intval: {{ .Values.chainlinkCluster.chainlink.webPort }}
          initialdelayseconds: 2
          periodseconds: 2
      - name: db
        image: postgres:11.6
        ports:
        - name: postgres
          containerport: 5432
        env:
        - name: POSTGRES_DB
          value: chainlink
          valuefrom: null
        - name: POSTGRES_PASSWORD
          value: node
          valuefrom: null
        - name: PGPASSWORD
          value: node
          valuefrom: null
        livenessprobe:
          handler:
            exec:
              command:
              - pg_isready
              - -U
              - postgres
          initialdelayseconds: 60
          periodseconds: 60
        readinessprobe:
          handler:
            exec:
              command:
              - pg_isready
              - -U
              - postgres
          initialdelayseconds: 2
          periodseconds: 2
