metadata:
  name: hardhat-network
spec:
  template:
    metadata:
      labels:
        app: hardhat-network
    spec:
      volumes:
        - name: hh-configmap-volume
          configMap:
            name: hardhat-config-map
      containers:
      - name: hardhat-network
        image: smartcontract/hardhat-network
        volumeMounts:
          - name: hh-configmap-volume
            mountPath: /usr/app/hardhat.config.js
            subPath: hardhat.config.js
        ports:
        - containerPort: {{ .Values.DependencyGroup.evm.rpcPort }}
        readinessProbe:
          httpGet:
            path: /
            port: {{ .Values.DependencyGroup.evm.rpcPort }}
          periodSeconds: 2
