global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'ctf'
    metrics_path: /metrics
    docker_sd_configs:
      - host: "unix:///var/run/docker.sock"
        refresh_interval: 20s
    relabel_configs:
      - source_labels: [ __meta_docker_port_private ]
        regex: '6688'
        action: keep
  - job_name: cadvisor
    scrape_interval: 10s
    static_configs:
      - targets:
          - cadvisor:8080
