[contracts_src]
[contracts_dst]

[blockchain_dst]
  chain_id = "2337"
#  docker_cmd_params = ["--fork-url", "wss://avalanche-fuji-c-chain-rpc.publicnode.com", "--auto-impersonate"]
  image = "f4hrenh9it/foundry:latest"
  port = "8545"
  type = "anvil"

[blockchain_src]
  chain_id = "3337"
#  docker_cmd_params = ["--fork-url", "wss://avalanche-fuji-c-chain-rpc.publicnode.com", "--auto-impersonate"]
  image = "f4hrenh9it/foundry:latest"
  port = "8555"
  type = "anvil"


[nodeset]
  nodes = 5
  override_mode = "all"

  [nodeset.db]
    image = "postgres:12.0"

  [[nodeset.node_specs]]

    [nodeset.node_specs.node]
      image = "public.ecr.aws/chainlink/chainlink:v2.17.0"
