
[blockchain_src]
  type = "anvil"

[contracts_src]

[nodeset]
  name = "don"
  nodes = 5
  override_mode = "all"

  [nodeset.db]
    image = "postgres:15.6"

  [[nodeset.node_specs]]

    [nodeset.node_specs.node]
      image = "public.ecr.aws/chainlink/chainlink:v2.17.0"
