
[blockchain_a]
  # choose "anvil", "geth" or "besu"
  # uncomment the second line for "anvil"
  type = "besu"
#  docker_cmd_params = ["-b", "1"]

[data_provider]
  port = 9111

[nodeset]
  nodes = 5
  override_mode = "all"

  [nodeset.db]
    image = "postgres:12.0"

  [[nodeset.node_specs]]

    [nodeset.node_specs.node]
      image = "public.ecr.aws/chainlink/chainlink:v2.17.0"
