
[blockchain_a]
  # choose "anvil", "geth" or "besu"
  # use   docker_cmd_params = ["-b", "1"] for "anvil"
  type = "anvil"
  docker_cmd_params = ["-b", "1"]

[data_provider]
  port = 9111

[nodeset]
  nodes = 5
  override_mode = "all"

  [nodeset.db]
    image = "postgres:12.0"

  [[nodeset.node_specs]]

    [nodeset.node_specs.node]
      docker_file = "plugins/chainlink.Dockerfile"
      docker_ctx = "/Users/fahrenheit/GolandProjects/chainlink"
#      image = "public.ecr.aws/chainlink/chainlink:v2.17.0"
