kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: wasp-role
rules:
  - apiGroups:
      - ""
      - "apps"
      - "batch"
    resources:
      - "*"
    verbs:
      - "*"
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: wasp-role
subjects:
  - kind: ServiceAccount
    name: default
roleRef:
  kind: Role
  name: wasp-role
  apiGroup: rbac.authorization.k8s.io
