namespace: ''
# amount of jobs to spin up
jobs: 1
# a label jobs will use to sync before starting, a random 5-digit number by default
sync:
# Go test name and timeout
test:
  name: ''
  timeout: '24h'

image: ''
imagePullPolicy: Always
labels:
  app: k8s-test-runner
annotations: {}
env:
  # TEST_LOG_LEVEL: ''
metadata:
  labels:
    # label: value
resources:
  requests:
    cpu: 1000m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 512Mi
nodeSelector: {}
tolerations: []
affinity: {}

# Role and RoleBinding for RBAC
rbac:
  roleName: ''
  serviceAccountName: default
