name: (all packages) Docker Test Env tests
on:
  pull_request_review:
    types: [submitted]
  pull_request:
    types: [labeled]

jobs:
  eth_env:
    if: ${{ github.event_name == 'pull_request_review' || github.event.label.name == 'docker_tests' }}
    runs-on: ubuntu-latest
    name: Docker Test ${{ matrix.test.name }}
    strategy:
      fail-fast: false
      matrix:
        test:
          - name: eth_env
            tests: TestEthEnv
          - name: eth_clients
            tests: TestBesu|TestGeth|TestNethermind|TestErigon
          - name: other
            tests: TestPostgres|TestMockServer|TestKillgrave
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Install Go
        uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/setup-go@d2f9642bcc24a73400568756f24b72c188ac7a9a # v2.3.31
        with:
          test_download_vendor_packages_command: cd lib && go mod download
          go_mod_path: ./lib/go.mod
          cache_key_id: ctf-go
          cache_restore_only: 'false'
      - name: Install gotestloghelper
        working-directory: lib
        run: make gotestloghelper_build
      - name: Run Tests
        working-directory: lib
        run: |
          PATH=$PATH:$(go env GOPATH)/bin
          export PATH
          set -euo pipefail
          # disabled, because we want to use a multiline output of go list command
          # shellcheck disable=SC2046
          go test -timeout 20m -json -parallel 2 -cover -covermode=atomic -coverprofile=unit-test-coverage.out $(go list ./... | grep /docker/test_env) -run '${{ matrix.test.tests }}' 2>&1 | tee /tmp/gotest.log | ../gotestloghelper -ci
      - name: Publish Artifacts
        if: failure()
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: test-logs
          path: ./lib/logs
