name: Linting
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '23 19 * * 4'
jobs:
  golangci:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0

  vulnerabilities-check:  
    name: Check for Vulnerabilities
    runs-on: ubuntu-latest
    steps:
    - name: Check out Code
      uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Write Go List
      run: go list -json -deps ./... > go.list
    - name: Nancy
      uses: sonatype-nexus-community/nancy-github-action@main
