name: Linting
on:
  push:
jobs:
  golangci:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@v3
      - uses: smartcontractkit/tool-versions-to-env-action@v1.0.7
        id: go-version
      - run: echo ${{ steps.go-version.outputs.golang_version }}
      - name: Install Go ${{ steps.go-version.outputs.golang_version }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.go-version.outputs.golang_version }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0

  vulnerabilities-check:  
    name: Check for Vulnerabilities
    runs-on: ubuntu-latest
    steps:
    - name: Check out Code
      uses: actions/checkout@v3
    - uses: smartcontractkit/tool-versions-to-env-action@v1.0.7
      id: go-version
    - run: echo ${{ steps.go-version.outputs.golang_version }}
    - name: Install Go ${{ steps.go-version.outputs.golang_version }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ steps.go-version.outputs.golang_version }}
    - name: Write Go List
      run: go list -json -deps ./... > go.list
    - name: Nancy
      uses: sonatype-nexus-community/nancy-github-action@main
  
  actionlint:
    name: Validate github action workflows
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@v3
      - name: Install asdf dependencies
        uses: asdf-vm/actions/install@v1.1.0
      - name: Run actionlint
        run: actionlint
