name: (all packages) Lints
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    name: Pre-commit checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Install Nix
        uses: cachix/install-nix-action@8887e596b4ee1134dae06b98d573bd674693f47c # v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Run pre-commit checks
        run: nix develop -c sh -c "pre-commit run --hook-stage pre-commit --show-diff-on-failure --color=always --all-files"
  tools:
    name: Get tool-versions
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Parse tool-versions file
        uses: smartcontractkit/tool-versions-to-env-action@v1.0.8
        id: tool-versions
    outputs:
      golangci-lint-version: ${{ steps.tool-versions.outputs.golangci-lint_version }}
  golangci:
    name: Linting-${{ matrix.project.name }}
    runs-on: ubuntu-latest
    needs: [tools]
    strategy:
      fail-fast: false
      matrix:
        project:
          - name: root
            path: ./
          - name: gotestloghelper
            path: ./tools/gotestloghelper/
          - name: k8s-test-runner
            path: ./k8s-test-runner/
    steps:
      - name: Check out Code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Install Go
        uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/setup-go@00c6214deb10a3f374c6d3430c32c5202015d463 # v2.2.12
        with:
          test_download_vendor_packages_command: cd ${{ matrix.project.path }} && go mod download
          go_mod_path: ${{ matrix.project.path }}go.mod
          cache_key_id: ctf-go-${{ matrix.project.name }}
          cache_restore_only: 'false'
      - name: golangci-lint ${{ needs.tools.outputs.golangci-lint-version }}
        uses: golangci/golangci-lint-action@3cfe3a4abbb849e10058ce4af15d205b6da42804 # v4.0.0
        with:
          version: v${{ needs.tools.outputs.golangci-lint-version }}
          args: --out-format checkstyle:golangci-lint-report.xml
          skip-cache: true
          working-directory: ${{ matrix.project.path }}
      - name: Print lint report artifact
        if: always()
        run: test -f ${{ matrix.project.path }}golangci-lint-report.xml || true
      - name: Store lint report artifact
        if: always()
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 # v3.1.0
        with:
          name: golangci-lint-report-${{ matrix.project.name }}
          path: ${{ matrix.project.path }}golangci-lint-report.xml

  vulnerabilities-check:
    name: Check for Vulnerabilities
    runs-on: ubuntu-latest
    needs: [tools]
    steps:
      - name: Check out Code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Install Go
        uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/setup-go@00c6214deb10a3f374c6d3430c32c5202015d463 # v2.2.12
        with:
          test_download_vendor_packages_command: go mod download
          go_mod_path: ./go.mod
          cache_key_id: ctf-go
          cache_restore_only: 'false'
      - name: Write Go List
        run: go list -json -deps ./... > go.list
      - name: Nancy
        uses: sonatype-nexus-community/nancy-github-action@726e338312e68ecdd4b4195765f174d3b3ce1533 # v1.0.3

  asdf-install:
    name: Validate GitHub Action Workflows
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Install asdf dependencies
        uses: asdf-vm/actions/install@05e0d2ed97b598bfce82fd30daf324ae0c4570e6 # v3.0.2

  helmlint:
    name: Lint Helm Charts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          # Without this parameter, the merged commit that CI produces will make it so that ct will
          # not detect a diff even if one exists
          fetch-depth: 0
      - name: Set up chart-testing
        uses: helm/chart-testing-action@b43128a8b25298e1e7b043b78ea6613844e079b1 # v2.6.0
      - name: Add helm chart repo
        run: helm repo add chainlink-qa https://raw.githubusercontent.com/smartcontractkit/qa-charts/gh-pages/
      - name: Run chart-testing (lint)
        run: ct lint --config ${{ github.workspace }}/.github/configs/ct.yaml

  actionlint:
    name: Validate GitHub Action Workflows
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Run actionlint
        uses: reviewdog/action-actionlint@82693e9e3b239f213108d6e412506f8b54003586 # v1.39.1

  sonarqube:
    name: SonarQube Analysis
    needs: [golangci]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          fetch-depth: 0 # fetches all history for all tags and branches to provide more metadata for sonar reports
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@4b0bfc149f5e285930eeb5e917327e66660c6e92 # v2.0.0
        with:
          args: >
            -Dsonar.go.golangci-lint.reportPaths=golangci-lint-report/golangci-lint-report.xml
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
