name: MOCKSERVER Test

on:
  push:
    branches:
      - main
    tags:
      - 'mockserver/v*.*.*'
  pull_request:

jobs:
  test:
    defaults:
      run:
        working-directory: mockserver
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Check for changes in Mockserver
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            src:
              - 'mockserver/**'
      - name: Set up Go
        if: steps.changes.outputs.src == 'true'
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Run tests
        if: steps.changes.outputs.src == 'true'
        run: go test ./...

  lint:
    defaults:
      run:
        working-directory: mockserver
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest