name: Go Tests
on: [push]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    permissions:
      id-token: write
      contents: read
    runs-on: ${{ matrix.test.vm }}
    strategy:
      fail-fast: false
      matrix:
        test:
          - path: framework
            vm: ubuntu-latest
            regex: TestComponent
          - path: wasp
            vm: ubuntu22.04-16cores-64GB
            regex: TestSmoke
          - path: wasp
            vm: ubuntu22.04-16cores-64GB
            regex: TestBenchSpy
          - path: k8s-test-runner
            vm: ubuntu-latest
            regex: ./...
          - path: parrot
            vm: ubuntu-latest
            regex: ./...
          - path: tools/workflowresultparser
            vm: ubuntu-latest
            regex: ./...
          - path: tools/asciitable
            vm: ubuntu-latest
            regex: ./...
          - path: tools/ghlatestreleasechecker
            vm: ubuntu-latest
            regex: ./...
          - path: tools/ecrimagefetcher
            vm: ubuntu-latest
            regex: ./...
          - path: tools/testlistgenerator
            vm: ubuntu-latest
            regex: ./...
          - path: tools/gotestloghelper
            vm: ubuntu-latest
            regex: ./...
          - path: tools/citool
            vm: ubuntu-latest
            regex: ./...
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: ${{ secrets.PUBLIC_AWS_ECR_ROLE }}
          aws-region: us-east-1
      - name: Authenticate to ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registry-type: public
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ matrix.test.path }}/go.mod
      - name: Install dependencies
        working-directory: ${{ matrix.test.path }}
        run: go mod download
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: go-modules-${{ matrix.test.path }}-${{ hashFiles(format('{0}/go.sum', matrix.test.path)) }}-${{ runner.os }}-test
          restore-keys: |
            go-modules-${{ matrix.test.path }}-${{ runner.os }}-test
            go-modules-${{ matrix.test.path }}-${{ runner.os }}
      - uses: extractions/setup-just@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          just-version: '1.39.0'
      - name: Run tests
        run: |
          just test ${{ matrix.test.path }} ${{ matrix.test.regex }}