name: Tests
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@v3
      - name: Install Go
        uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/setup-go@00c6214deb10a3f374c6d3430c32c5202015d463 # v2.2.12
        with:
          test_download_vendor_packages_command: go mod download
          go_mod_path: ./go.mod
          cache_key_id: ctf-go
          cache_restore_only: 'false'
      # gotestfmt gives us pretty test output
      - name: Set Up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          token: ${{ github.token }} # Avoids rate-limiting
      - name: Run Tests
        run: |
          PATH=$PATH:$(go env GOPATH)/bin
          export PATH
          set -euo pipefail
          go test -json -cover -covermode=count -coverprofile=unit-test-coverage.out $(go list ./... | grep -v /env\/e2e/) 2>&1 | tee /tmp/gotest.log | gotestfmt
      - name: Code Coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./unit-test-coverage.out
          name: codecov-umbrella
      - name: Publish Artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-logs
          path: ./logs
