name: (all packages) Unit tests
on:
  push:
    tags:
      - v*
  pull_request:
jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        project:
          - name: root
            path: ./
          - name: gotestloghelper
            path: ./tools/gotestloghelper/
          - name: testlistgenerator
            path: ./tools/testlistgenerator/
          - name: ecrimagefetcher
            path: ./tools/ecrimagefetcher/
          - name: ghlatestreleasechecker
            path: ./tools/ghlatestreleasechecker/
          - name: asciitable
            path: ./tools/asciitable/
          - name: workflowresultparser
            path: ./tools/workflowresultparser/
    runs-on: ubuntu-latest
    name: ${{ matrix.project.name }} unit tests
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Install gotestloghelper
        run: make gotestloghelper_build
      - name: Install Nix
        uses: cachix/install-nix-action@8887e596b4ee1134dae06b98d573bd674693f47c # v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Load Nix
        run: |
          nix develop -c sh -c "cd ${{ matrix.project.path }} && \
          go mod download"
      - name: Run Tests
        run: |
          PATH=$PATH:$(go env GOPATH)/bin
          export PATH
          set -euo pipefail
          # disabled, because we want to use a multiline output of go list command
          # shellcheck disable=SC2046
          nix develop -c sh -c "cd ${{ matrix.project.path }} && \
            make test_unit"
      - name: Code Coverage
        uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed # v4.3.0
        with:
          files: ./unit-test-coverage.out
          name: codecov-umbrella
      - name: Publish Artifacts
        if: failure()
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: test-logs
          path: /tmp/gotest.log
