name: (all packages) Unit tests
on:
  push:
    tags:
      - v*
  pull_request:
jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        project:
          - name: root
            path: ./
          - name: gotestloghelper
            path: ./tools/cmd/gotestloghelper/
    runs-on: ubuntu-latest
    name: ${{ matrix.project.name }} unit tests
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install Go
        uses: smartcontractkit/chainlink-github-actions/chainlink-testing-framework/setup-go@00c6214deb10a3f374c6d3430c32c5202015d463 # v2.2.12
        with:
          test_download_vendor_packages_command: go mod download
          go_mod_path: ${{ matrix.project.path }}go.mod
          cache_key_id: ctf-go
          cache_restore_only: 'false'
      # gotestfmt gives us pretty test output
      - name: Set Up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          token: ${{ github.token }} # Avoids rate-limiting
      - name: Install gotestloghelper
        shell: bash
        run: make tools_build
      - name: Run Tests
        shell: bash
        run: |
          PATH=$PATH:$(go env GOPATH)/bin
          export PATH
          set -euo pipefail
          # disabled, because we want to use a multiline output of go list command
          # shellcheck disable=SC2046
          cd ${{ matrix.project.path }}
          go test -timeout 5m -json -cover -covermode=count -coverprofile=unit-test-coverage.out $(go list ./... | grep -v /k8s/e2e/ | grep -v /k8s/examples/ | grep -v /docker/test_env) 2>&1 | tee /tmp/gotest.log | gotestfmt
      - name: Improved output
        if: always()
        run: cat /tmp/gotest.log | ./gotestloghelper -ci -onlyerrors=false
      - name: Improved output 2
        if: always()
        run: cat /tmp/gotest.log | ./gotestloghelper -ci -onlyerrors=true -json
      - name: Code Coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./unit-test-coverage.out
          name: codecov-umbrella
      - name: Publish Artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-logs
          path: /tmp/gotest.log
