name: (all packages) Unit tests
on:
  push:
    tags:
      - v*
  pull_request:
jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        project:
          - name: root
            path: ./
          - name: gotestloghelper
            path: ./tools/gotestloghelper/
    runs-on: ubuntu-latest
    name: ${{ matrix.project.name }} unit tests
    steps:
      - name: Checkout the Repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install gotestloghelper
        run: make gotestloghelper_build
      - name: Install Nix
        uses: cachix/install-nix-action@8887e596b4ee1134dae06b98d573bd674693f47c # v26
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Run Tests
        run: |
          PATH=$PATH:$(go env GOPATH)/bin
          export PATH
          set -euo pipefail
          # disabled, because we want to use a multiline output of go list command
          # shellcheck disable=SC2046
          cd ${{ matrix.project.path }}
          nix develop -c make test_unit
      - name: Code Coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./unit-test-coverage.out
          name: codecov-umbrella
      - name: Publish Artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-logs
          path: /tmp/gotest.log
